/* Styling for both Edit.js and NewContact.js */
.container{
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#subtitle{
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: white;
}

form{
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Inside form content and styling */
.input-container{
    background-color: rgba(0, 0, 0, .2);
    border-radius: 100px;
    min-height: 80vh;
    padding: 2rem 5rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, .2);
    margin-bottom: 2rem;
}

input{
    background-color: rgba(255, 255, 255, 0.1);
    border: white solid 2px;
    border-radius: 10px;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    color: white;
    width: 100%;
}

h3{
    margin-top: 1rem;
    margin-bottom: .3rem;
    color: white;
    font-size: 1.3rem;
}

/* Placeholder text in input */
::placeholder{
    color: rgb(100, 174, 209);
}

/* Button styling */
.contact-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    width: 90%;
    margin: 0 auto;
}

.add-contact{
    white-space: nowrap;
    background-color: #00b300;
}

.add-cancel{
    background-color: #ac0000;
}

.add-contact:hover{
    white-space: nowrap;
    background-color: #008f00;
}

.add-cancel:hover{
    background-color: #950000;
}

.add-contact, .add-cancel{
    padding: .5rem 1.5rem;
    font-size: 1.5rem;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, .2);
    margin-bottom: 1rem;
    font-weight: bold;
    transition: all .3s ease;
}

